@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

// Typography
$font: 'VT323';

// Pallete
$background: rgb(200, 45, 50);
$body: rgb(223, 227, 222);
$screen: rgb(124, 143, 20);
$screenBorder: rgb(108, 113, 127);
$startSelect: rgb(200, 202, 208);
$buttons: rgb(154, 50, 93);
$direction: rgb(24, 25, 34);
$text: rgb(57, 70, 105);
$notSure: rgb(188, 211, 156);