@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

// Typography
$font: 'VT323';

// Pallete
$background: rgb(200, 45, 50);
$body: rgb(212, 217, 211);
$screen: #8CA117;
$screenBorder: rgb(118, 126, 147);
$startSelect: rgb(200, 202, 208);
$buttons: rgb(154, 50, 93);
$direction: #222330;
$text: rgb(57, 70, 105);
$notSure: rgb(188, 211, 156);