@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  position: relative;
  background: $background;
  color: white;
  min-height: 100vh;
  font-family: $font;
  font-size: 1.75rem;
  text-align: center;

  h1 {
    margin: auto;
    padding: .5rem;
    letter-spacing: 1px;
    @include shadow-pop;
  }

  .gameboy {
    position: absolute;
    z-index: 0;
    background: $body;
    min-width: 22rem;
    min-height: 34rem;
    top: 6rem;
    left: 20rem;
    @include body-border;
    @include body-shadow;
  }

  .screen-border {
    position: absolute;
    z-index: 1;
    background: $screenBorder;
    border-radius: 1rem 1rem 4rem 1rem;
    border: .75px solid #42454D;
    min-width: 18rem;
    min-height: 14rem;
    top: 8.5rem;
    left: 22.25rem;
  }

}

// border-radius: TL, TR, BR, BL