@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
/**
 * ----------------------------------------
 * animation text-shadow-pop-bl
 * ----------------------------------------
 */
@-webkit-keyframes text-shadow-pop-bl {
  0% {
    text-shadow: 0 0 #181922, 0 0 #181922, 0 0 #181922, 0 0 #181922, 0 0 #181922, 0 0 #181922, 0 0 #181922, 0 0 #181922;
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px #181922, -2px 2px #181922, -3px 3px #181922, -4px 4px #181922, -5px 5px #181922, -6px 6px #181922, -7px 7px #181922, -8px 8px #181922;
    transform: translateX(8px) translateY(-8px);
  }
}
@keyframes text-shadow-pop-bl {
  0% {
    text-shadow: 0 0 #181922, 0 0 #181922, 0 0 #181922, 0 0 #181922, 0 0 #181922, 0 0 #181922, 0 0 #181922, 0 0 #181922;
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px #181922, -2px 2px #181922, -3px 3px #181922, -4px 4px #181922, -5px 5px #181922, -6px 6px #181922, -7px 7px #181922, -8px 8px #181922;
    transform: translateX(8px) translateY(-8px);
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: auto;
  position: relative;
  background: #c82d32;
  color: white;
  min-height: 100vh;
  font-family: "VT323";
  font-size: 1.75rem;
  text-align: center;
}
body h1 {
  margin-top: 1rem;
  letter-spacing: 1px;
  -webkit-animation: text-shadow-pop-bl 0.7s ease-in-out both;
  animation: text-shadow-pop-bl 0.7s ease-in-out both;
}
body .gameboy {
  position: absolute;
  z-index: 0;
  background: #d4d9d3;
  min-width: 22rem;
  min-height: 34rem;
  top: 7rem;
  left: 20rem;
  border: 1px solid #222330;
  border-radius: 0.75rem 0.75rem 5rem 0.75rem;
  box-shadow: -14px 22px 24px 16px rgba(0, 0, 0, 0.35), inset 5px -5px 9px 0px rgba(78, 87, 76, 0.95);
}
body .screen-border {
  position: absolute;
  z-index: 1;
  background: #767e93;
  border-radius: 1rem 1rem 3rem 1rem;
  border: 0.75px solid #42454D;
  min-width: 18rem;
  min-height: 14rem;
  top: 8.5rem;
  left: 22.25rem;
}
body .screen-border .screen {
  position: absolute;
  margin: 1.25rem 2.8rem;
  background-color: #8CA117;
  min-height: 80%;
  min-width: 67%;
  border-radius: 0.25rem;
  border: 0.75px solid #2F3608;
  box-shadow: inset -3px 7px 7px 6px rgba(47, 54, 8, 0.4);
}
body .directional {
  position: absolute;
  z-index: 1;
  top: 27rem;
  left: 24rem;
}
body .directional .arrow {
  background: #222330;
  height: 5rem;
  position: absolute;
  width: 1.75rem;
  border-radius: 0.45rem;
  box-shadow: -6px 7px 5px -4px rgba(17, 17, 24, 0.5);
}
body .directional .arrow::after {
  background: #222330;
  content: "";
  height: 1.75rem;
  left: -1.6rem;
  position: absolute;
  top: 1.5rem;
  width: 5rem;
  border-radius: 0.45rem;
  box-shadow: -6px 6px 5px -4px rgba(17, 17, 24, 0.5);
}
body .directional .circle {
  background: transparent;
  opacity: 0.08;
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  left: 0.4rem;
  top: 1.8rem;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: inset 9px -7px 12px -8px rgba(255, 255, 255, 0.4);
}
body .buttons {
  display: flex;
}
body .buttons div {
  background-color: #9a325d;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.5px solid #222330;
  border-radius: 50%;
  box-shadow: -4px 8px 11px -3px rgba(34, 35, 48, 0.7);
}